# .env.example

# Environment Variables for Application Configuration

# Server Port
PORT=3000

# Node Environment (development|production)
NODE_ENV=development

# Gmail Configuration
EMAIL_USER="plaa lxyn jfnd jmqp"
EMAIL_PASSWORD="plaa lxyn jfnd jmqp"
ADMIN_EMAIL="plaa lxyn jfnd jmqp"
